body{
        background-color: #ffecaf;
    }
.container{
    width: 70%;
    margin: auto;
    height: 95%;
    border-style: solid;
    background-color: rgb(151,193,227);
}
h1{
    font-size: 600%;
    text-align: center;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    border: solid;
}
p{  
    padding-left: 5%;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 100%;
}
.searchBar{
    padding-left: 5%;
    margin-top: 1%;
}
.list{
    list-style-type: none;
    border: solid 7px;
    border-collapse: collapse;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    background-color: rgb(212, 82, 90);
    padding: 2%;
    overflow: hidden;
}
ul{
    list-style: none;
    margin-right: 5%;
}
li{
    margin: 5%;
    border: solid 8px;
    border-collapse: separate;
    border-radius: 20px;
    list-style: none;

}
.name{
    font-size: 150%;
    padding-left: 2%;
    padding-bottom: 2%;
    text-align: left;
    border-bottom: solid 5px;
    background-color: black;
    padding-top: 2px;
    margin-top: 0px;
    color: beige;
}
.descriptions{
    border-left: solid 5px;
    margin: 0%;
    width: 100%;
}
table.static{
    background-color: beige;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
ol.container{
    border-style: none;
}
ol.container{
    overflow: hidden;
    border: double rgb(151,193,227) 6px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    background-color: beige;
}

.dynamicPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dTable{
    border-top: solid;
    background-color:  rgb(212, 82, 90);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.description{
    border-left: solid;
    width: 100%;
}
